body {
    background-color: #fff0f6;
}

header {
    background-color: #fed2e5;
    
}

nav {
    background-color: #fed2e5;
}

section {
    background-color: #fed2e5;
}

footer { 
    background-color: #fed2e5;
    margin-top: 5pt;
}

